html, body { height: 100%; }

body {
  background: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #FFF;
}
.eye-container {
  position: relative;
  z-index: 4;
  display: inline-block;
  padding: 50px;
  background: #2eca2e;
  border-radius: 200px;
  margin: 0 -48px;
  border: 9px #398826 solid;
}

.eye-container.outer {
  z-index: 10;
  width: 180px;
}
.eye-container.inner {
  padding: 92px;
  padding-top: 167px;
}
.eye-shadow {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  background: #9e9c9c;
  height: 237px;
  width: 258px;
  border-radius: 126px;
  margin-top: -241px;
}

.teeth {
  position: relative;
  z-index: 2;
  height: 237px;
  width: 243px;
  background: linear-gradient(89deg, #fff 29%, #000 20%,#000 50%,#fff 50%, #fff 50%, #fff 75%, #000 75%, #000 85%, #fff 75%);
  margin: 0 auto;
  border-radius: 126px;
  margin-top: -199px;
  border: 5px #398826 solid;
}

.chin {
  position: relative;
  margin: 0 auto;
  margin-top: -270px;
  z-index: 1;
  background: #2da22d;
  border-radius: 290px;
  height: 340px;
  width: 330px;
  border: 9px #2c631f solid;
}


.eye {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #FFF;
  margin: 3rem;
  /*opacity: .65;*/
  /*box-shadow: 1px 1px 2rem #bbbbbb;*/
  background: #FFF;
  border: 3px #398826 solid;
}

.eye div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: black;
  top: 20px;
  right: 20px;
  border-radius: 10px;
}

.result {
  /*text-shadow: #000000 1px 1px 1px, #ffffff -1px -1px 1px;*/
}
.cube {
  position: relative;
  margin: 80px auto;
  height: 200px;
  width: 200px;
  transform-style:preserve-3d;
}

.cube div {
  position: absolute;
  height: 200px;
  width: 200px;
  -moz-cube-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  animation:rotate 15s infinite linear;
}

.cube.deconstructed {
  opacity: 0.5;
}

.cube.deconstructed div {
  position: relative;
}


.cube div.side1 {
  background:rgba(0,102,153,.5);
  background:rgba(0, 170, 255, 0.7);
  transform:translateZ(100px);
}
.cube div.side2 {
  background:rgba(150,153,0,.7);
  background:rgba(206, 210, 5, 0.7);
  transform:rotateY(90deg) translateZ(100px);
}
.cube div.side3 {
  background:rgba(39,116,61,.7);
  background:rgba(66, 183, 99, 0.7);
  transform:rotateY(180deg) translateZ(100px);
}
.cube div.side4 {
  background:rgba(105,136,165,.7);
  background: rgba(158, 194, 228, 0.7);
  transform:rotateY(-90deg) translateZ(100px);
}
.cube div.side5 {
  background:rgba(223,48,48,.7);
  background:rgba(255, 109, 109, 0.7);
  transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
}
.cube div.side6 {
  background:rgba(144,153,102,.7);
  background:rgba(242, 255, 181,.7);
  transform:rotateX(90deg) translateZ(100px);
}





.control-container {
  /*position: relative;
  z-index: 4;
  display: inline-block;
  padding: 50px;
  background: #2eca2e;
  border-radius: 200px;
  margin: 0 -48px;
  border: 9px #398826 solid;*/
}

.control {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #FFF;
  display: inline-block;
  background: #333;
  border: 3px #ffffff solid;
  margin-top: 3rem;
  /*opacity: .65;*/
  /*box-shadow: 1px 1px 2rem #bbbbbb;*/
  /*background: #FFF;*/
}

.control div {
  position: absolute;
  width: 6px;
  height: 26px;
  background: #FFF;
  top: 6px;
  right: 46px;
}

body.audio {
  display: flex;
  background: #4a7e8b;
}

.record-container {
  width: 300px;
  height: 300px;
}
.record {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 300px;
  background:
  radial-gradient(white 2%, red 2%, red 22%, black 22%, black 27%, transparent 27%, transparent 37%, black 37%,black 37.5%, transparent 37.5%, transparent 49%, black 49%, black 49.5%, transparent 49.5%,transparent 55%, black 56%, black 49.5%, transparent 49.5%, transparent 69%, black 69%),
  linear-gradient(35deg, black 35%, transparent 68%),
  linear-gradient(50deg, #e3e3e3 50%, transparent 60%),
  black;
  /*animation: rotation 1.8s infinite linear;*/
}
/*radial-gradient(white 2%, red 2%, red 22%, black 22%, black 27%, transparent 27%, transparent 37%, black 37%,black 37.5%, transparent 37.5%, transparent 49%, black 49%, black 49.5%, transparent 49.5%,transparent 55%, black 56%, black 49.5%, transparent 49.5%, transparent 69%, black 69%),   linear-gradient(30deg, black 40%, transparent 60%),   linear-gradient(90deg, #7c7c7c 40%, transparent 60%),   black*/
/*
  linear-gradient(75deg, black 14%, transparent 53%),
  linear-gradient(50deg, black 30%, transparent 53%),
  linear-gradient(40deg, #8e8e8e 50%, transparent 63%),
  linear-gradient(57deg, #dedede 50%, transparent 81%),
*/


img {
  /*animation: rotation 1.8s infinite linear;*/

}
@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}
